header {
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(221,32,53,1) 59%, rgba(207,46,46,1) 86%);
    height: 60px;
    display: flex;
    align-items: center;
}

.dsmovie-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff
}

.dsmovie-nav-container h1 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.dsmovie-contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dsmovie-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
}